{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12 center-block text-center">
        <h2>User Registration Form</h2>
    </div>
</div>

<form method="post">
    <div class="row">
        <div class="col-md-12 center-block">
            <table class="table">
                <tr>
                    <td class="label">
                        Username
                    </td>
                    <td>
                        <input type="text" name="username" value="{{username}}">
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        Password
                    </td>
                    <td>
                        <input type="password" name="password" value="{{password}}">
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        Verify
                    </td>
                    <td>
                        <input type="password" name="verify" value="{{verify}}">
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        Email
                    </td>
                    <td>
                        <input type="text" name="email" value="{{email}}">
                    </td>
                </tr>
            </table>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12 center-align">
            <input class="form-buttons" type="submit">
            <button class="form-buttons" formaction='/login'>Login</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 error center-align">
            {{error}}
        </div>
    </div>
</form>

{% endblock %}